<!-- Navbar -->

            <nav class="navbar navbar-inverse navbar-expand-lg navbar-light bg-primary mb-5" id="nav_bar">
              <div class="container">
                  <!-- navbar brand-->
                <a class="navbar-brand" href="{% url 'index' %}">Apply</a>

                  <!--collapse button-->
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                  </button>

                  <!--collapse content-->
              <div class="collapse navbar-collapse" id="myNavbar">

                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                      </li>
                  </ul>


              </div>
                  <!--collapsible content -->
              </div>
            </nav>
